$color-bg: #1a293f;
$color-bg-dark: #04142c;
$color-text: #d4d0ab;

body {
  background: $color-bg;
}
.container {
  color: $color-text;
}

.display,
.content,
.nav {
  background: $color-bg-dark;
  a {
    color: $color-text;
  }
}

.display,
.logo {
  background: $color-bg;
}
